{% extends 'inventory/base.html' %}
{% load static %}
{% block head %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/style.css' %}" />
</head>
{% endblock %}

<body>
    <main>    
    {% block content %}
    <h1>Django Delights Menu</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Price</th>
        </tr>
        Menu items:
        {% for item in menuitem_list %}
        <tr>
            <td>{{ item.title }}</a></td>
            <td>{{ item.price }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'add_menu_item' %}">Add menu item</a><br>
    
    <a href="{% url 'add_recipe_requirements' %}">Add recipe requirement</a>

    {% endblock %}
    </main>
</body>
